picture {
    display: block;
    font-size: 0;
}

.image {
    $self: &;
    overflow: hidden;

    &__img {
        width: 100%;

        &--full {
            height: 100%;
            object-fit: cover;
        }
    }
}
