.muticolumn__inner {
  display: flex;
  flex-wrap: wrap; }

.muticolumn__column {
  display: flex;
  flex-direction: column;
  width: 100%; }

@media screen and (min-width: 560px) and (max-width: 1025px) {
  .muticolumn__column {
    width: var(--column-mob-width); } }

@media screen and (min-width: 1025px) {
  .muticolumn__column {
    width: var(--column-width); } }

.muticolumn__content {
  margin-top: auto; }

@media screen and (max-width: 560px) {
  .muticolumn__content {
    margin-top: 30px; }
  .muticolumn__content .content {
    text-align: center; } }

.muticolumn__content .spotlight-inner .sub_title {
  font-size: calc(var(--fontsize-text-style) - var(--fontsize-text-style) / 10); }

.muticolumn__content .spotlight-button {
  letter-spacing: 2px;
  margin-bottom: 20px; }

.muticolumn__content .spotlight-button.custom-button-style {
  background-color: var(--bg-color-button) !important; }

@media screen and (max-width: 560px) {
  .muticolumn__content .image-zoom.adaptive_height {
    padding-top: 40% !important; } }

.muticolumn__content .sub_title span {
  white-space: nowrap; }

.muticolumn__content a.button {
  background-color: var(--bg-color-button); }
