@import "./_settings/core";

.muticolumn {
    position: relative;
    z-index: 1;

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__column {
        display: flex;
        flex-direction: column;
        width: 100%;
        @include mq (560px, max) {
            order: var(--column-mob-order);
        }

        @include mq((560px, 1025px)) {
            width: var(--column-mob-width);
        }

        @include mq(1025px) {
            width: var(--column-width);
        }

        &:last-child {
            @include mq((560px, 1025px)) {
                position: absolute;
                top: 0;
            }

            .image-container {
                position: relative;
                z-index: -1;
            }

            .img-box {
                @include mq(560px) {
                    position: relative;
                    z-index: -1;
                    width: 723px;
                    height: 400px;
                }

                @include mq((560px, 1025px)) {
                    transform: translate(37%);
                }

                @include mq(1025px) {
                    transform: translateX(-176px);
                }
            }

            a.image-zoom {
                @include mq(560px, max) {
                    padding-top: 56% !important;
                }
            }
        }
    }

    &__content {
        margin-top: auto;

        @include mq(560px, max) {
            margin-top: 30px;

            .content {
                text-align: center;
            }
        }

        .spotlight-inner .sub_title {
            font-size: calc(var(--fontsize-text-style) - var(--fontsize-text-style) / 10);

            @include mq(1025px) {
                font-size: var(--fontsize-text-style);
            }
        }

        .spotlight-button {
            letter-spacing: 2px;
            margin-bottom: 20px;

            &.custom-button-style {
                background-color: var(--bg-color-button) !important;
            }
        }

        .image-zoom.adaptive_height {
            @include mq(560px, max) {
                padding-top: 80% !important;
            }
        }

        .sub_title {
            span {
                white-space: nowrap;
            }
        }

        a.button {
            background-color: var(--bg-color-button);
        }
    }

    // overide
    .spotlight-inner .sub_title {
        line-height: 1.3;
    }

    .spotlight-inner.text-left {
        text-align: left;
    }

    .spotlight-button {
        margin-top: 20px;
    }
}
