@import "./_settings/core";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1190px;
    margin: 0 auto;

    &-1280 {
        max-width: 1280px;
        margin: 0 auto;
    }
}

svg {
    width: auto;
    height: auto;
}

.text::after,
.adaptive_height::after {
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: darken;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.text {
    &-bold {
        font-weight: 600;
    }
}

.brands-block .description {
    max-width: 186.4px;
    margin: 0 auto;
}

.slide-content .slide-button {
    @include mq(1025px) {
        font-size: 19.2px;
        letter-spacing: 5px;
        line-height: 1.51;
        font-weight: 500;
        padding-top: 13px;
        padding-bottom: 13px;
    }
}

.slideshow .item {
    max-height: 527px;
    overflow: hidden;
}

.announcement-bar {
    &__message {
        svg {
            width: 20px;
            height: 20px;
            margin-right: 10px;

            @include mq(1025px) {
                width: auto;
                height: auto;
            }
        }
    }
}

.spotlight {
    &-block .des {
        max-width: 335px;
        margin: 0 auto;
    }

    &-item .title {
        letter-spacing: 2px;
    }

    &-block {
        .text {
            line-height: 1.2;
        }
    }
}

.brand-slider {
    &--border {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            height: 1px;
            width: 100%;
            max-width: 1150px;
            margin: 0 auto;
            pointer-events: none;
            background-color: #000;
        }
    }

    .halo-row {
        @include mq(560px) {
            row-gap: 15px;
        }
    }
}

.halo {
    &-block-header {
        .description {
            max-width: 747px;
            margin: 0 auto;
        }

        .title .text {
            @include mq(1025px) {
                width: unset;
            }
        }
    }

    &-row.halo-slider.md-column-3:not(.slick-slider) .halo-item {
        @include mq(1024px, max) {
            width: 25%;
        }
    }
}

/* PRODUCT CARD 02 */
.product {
    &-card-layout-02 .card {
        border: none;
    }

    &-grid {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        height: 100%;

        & .card {
            display: flex;
            flex-direction: column;
            height: 100%;

            &-information {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            &-action {
                margin-top: auto;
            }
        }
    }

    &-block {
        .halo-block-header {
            max-width: 1160px;
            margin: 0 auto;
        }

        .text {
            line-height: 1.2;
        }

        .description {
            max-width: 495px;
        }
    }
}

.instagram-slide {
    .text {
        line-height: 1;
    }
}

.brands-block .slick-track {
    display: flex;
    align-items: center;
}

.brand-slider {
    .description h5 {
        @include font-size(16, 1.25);
        font-weight: 600;
    }

    .halo-row {
        &.column-8 .halo-item {
            @include mq(560px, max) {
                min-width: 130px;
            }

            @include mq(1260px, max) {
                width: 165px !important;
            }
        }

        &.halo-row--mb-4 .halo-item {
            @include mq(560px, max) {
                width: 25% !important;
            }
        }
    }
}

.social-media {
    .halo-row {
        max-width: 1032px;
        margin: 0 auto;
    }
}

.brand-number {
    max-width: 102rem;
    margin: 0 auto;
}

@media screen and (min-width: 1025px) {
    .header-02 {
        &.style_2 {
            .cart-count-bubble {
                position: absolute;
                top: -9px;
                right: -13px;
                font-size: calc(var(--font-body-size) - 3px);
                margin-left: 0;
            }

            .header-bottom .header-bottom-left {
                width: 170px;
            }
        }

        .header-bottom {
            .header-bottom-right {
                width: auto;
            }

            &-right .header__icon + .header__icon {
                margin-left: 15px;
            }
        }
    }
}

.header {
    $self: &;
    &-02 {
        .header-bottom .header-bottom-center {
            margin-left: auto;
            margin-right: 15px;

            @include mq(1025px) {
                margin-right: 24px;
            }
        }

        .wrapper-header-bottom {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }

        #{$self} {
            &-mobile {
                &--wrapper {
                    min-height: 60px;
                    position: relative;
                }

                &--logo {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
           
        }
    }

    &__icon.header__icon--account {
        margin-left: 0;
        padding: 0;

        svg {
            width: 20px;
            height: 20px;

            @include mq(1025px) {
                width: 26px;
                height: 26px;
            }
        }
    }

    .header-mobile--wrapper {
        @include mq(1025px, max) {
            padding: 5px 0;
        }
    }
}

.list-menu.text-left {
    margin-left: 0;
}

/* FOOTER */
@media screen and (max-width: 767px) {
    .list-payment {
        text-align: left;
    }
}

.footer {
    &-block {
        &__details .rte {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 10px;
            @include font-size(13, 1.47);
        }

        &__list-payment ul {
            @include mq(1200px) {
                max-width: 190px;
            }

            li {
                margin-right: 10px;
                margin-bottom: 7px;
            }
        }

        &__item.footer-block__column.footer-block__text:last-child {
            @include mq((767px, 1200px)) {
                width: 100%;
                text-align: center;
                margin-top: 50px;
                border-top: 1px solid #fff;
                padding-top: 22px;
            }
        }

        &__column .list-menu__item--link {
            padding: 3px 0;
        }
    }

    &__column-item .copyright__content {
        @include font-size(13, 1.46);

        a {
            text-decoration: underline;
        }
    }

    &__content-bottom .footer__copyright {
        max-width: 1246px;
        margin: 0 auto;
    }

    &-fixed-right {
        pointer-events: none;
    }
}

.custom-image-text {
    &__inner {
        display: flex;
    }
}
